machine:
  type: controlplane
  network:
    hostname: pneuma
    interfaces:
      - interface: bond0
        addresses:
          - 10.0.20.4/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.20.1
        bond:
          interfaces: []
          deviceSelectors:
            - hardwareAddr: 58:47:ca:7f:09:71
              driver: i40e
          mode: active-backup
        vlans:
          - addresses:
              - 10.0.40.4/24
            routes: []
            dhcp: false
            vlanId: 40
            mtu: 1500
          - addresses:
              - 192.168.0.4/24
            routes: []
            dhcp: false
            vlanId: 99
            mtu: 1500
        mtu: 9000
        dhcp: false
        vip:
          ip: 10.0.20.250
      - # 2.5G ignore for WoL/vPro
        deviceSelector:
          hardwareAddr: 58:47:ca:7f:09:73
          driver: igc
        ignore: true
      - # ontos
        deviceSelector:
          busPath: 0-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.24/32
        routes:
          - network: 169.254.255.23/32
            metric: 2048
      - # logos
        deviceSelector:
          busPath: 1-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.24/32
        routes:
          - network: 169.254.255.22/32
            metric: 2048
  install:
    diskSelector:
      serial: "S435NC0R782584"
