machine:
  type: controlplane
  network:
    hostname: logos
    interfaces:
      - interface: bond0
        addresses: ["10.0.20.2/24"]
        routes: [{ network: 0.0.0.0/0, gateway: 10.0.20.1 }]
        bond:
          interfaces: []
          deviceSelectors:
            - hardwareAddr: 58:47:ca:7f:09:75
              driver: i40e
          mode: active-backup
        vlans:
          - addresses: ["10.0.40.2/24"]
            routes: []
            dhcp: false
            vlanId: 40
            mtu: 1500
          - addresses: ["192.168.0.5/24"]
            routes: []
            dhcp: false
            vlanId: 99
            mtu: 1500
        mtu: 9000
        dhcp: false
        vip:
          ip: 10.0.20.250
      - deviceSelector:
          hardwareAddr: 58:47:ca:7f:09:77
          driver: igc
        ignore: true
      - deviceSelector:
          busPath: 0-1.0 # ontos
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.23/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # pneuma
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.24/32
            metric: 2048
  install:
    diskSelector:
      serial: "S435NC0R801928"
