machine:
  type: controlplane
  network:
    hostname: logos
    interfaces:
      - deviceSelector: { busPath: 0000:58:00.0 } # Intel IPMI
        ignore: true
      - deviceSelector:
          busPath: 0-1.0 # ontos
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.23/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # pneuma
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.24/32
            metric: 2048
  install:
    diskSelector:
      serial: "S435NC0R801928"
