---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 1004
        fsGroup: 1004
        supplementalGroups: [65534]
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      paperless:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.9@sha256:1d99ede700ffdf7aa44899b5fee29c8c279f175769b6cb295e91e9f15772728e
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_X_AUTH_REQUEST_EMAIL
              PAPERLESS_OCR_LANGUAGES: eng
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: 8000
              PAPERLESS_DBNAME: paperless
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local.:6379/3
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIME_ZONE: Europe/London
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              USERMAP_UID: "1004"
              USERMAP_GID: "1004"
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
              # Configure folders
              PAPERLESS_CONSUMPTION_DIR: /data/paperless/consume
              PAPERLESS_DATA_DIR: /data/paperless/data
              PAPERLESS_EXPORT_DIR: /data/paperless/export
              PAPERLESS_MEDIA_ROOT: /data/paperless/media
            envFrom: *envFrom
            resources:
              requests:
                cpu: 25m
                memory: 1Gi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: &port 8000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      paperless:
        enabled: true
        type: nfs
        server: aionios.internal
        path: /mnt/mechonis/paperless
        globalMounts:
          - path: /data/paperless
