---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wastebin
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      wastebin:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: docker.io/quxfoo/wastebin
              tag: 3.4.0@sha256:30dac17168952582ac5db5ac5581d14cd1421be4a111f0d20e8b2d0e353ee357
            env:
              TZ: "Europe/London"
              WASTEBIN_ADDRESS_PORT: "0.0.0.0:8088"
              WASTEBIN_BASE_URL: "https://bin.${SECRET_DOMAIN}/"
              WASTEBIN_MAX_BODY_SIZE: "5242880" # 5Mb
              WASTEBIN_PASTE_EXPIRATIONS: "10m"
              WASTEBIN_THEME: "onehalf"
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8088
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["bin.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
