{{- $release := printf "../../kubernetes/apps/%s/%s/app/helmrelease.yaml" .Release.Namespace .Release.Name -}}
chart: {{ exec "yq" (list "select(.kind == \"OCIRepository\").spec.url" $release) }}
version: {{ exec "yq" (list "select(.kind == \"OCIRepository\").spec.ref.tag" $release) }}
